*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color:#2E75B3;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: auto;
    height:8vh;
}
.main{
    width: 100%;
    height: 90vh;
}
.container-options{
    width: 100%;
    height: 8vh;
}
.nav-options{
    background-color:#7CD1E2;
    display: flex;
    list-style:none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-item a{
    color: black;
    display: flex;
    text-decoration: none;
    padding: 2em;
}
.nav-item-link{
    width:15%;
    height:82vh;
}
.subnav-options{
    background-color: #2E75B3;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-inline-start: 0;
}
.subnav-item{
    padding: 2em;
}
.subnav-options a{
    text-decoration: none;
    color: white;
}
.footer{
    background-color: #7CD1E2;
    display: flex;
    width: 100%;
    height: 10vh;
}
.content-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}